// flow
import React, { Component } from 'react';
import './{{ properCase name }}Styles.less';

class {{ properCase name }} extends Component {
  render() {
    return (
      <div className="{{ properCase name }}">
        {{ properCase name }} Component
      </div>
    );
  }
}

export default {{ properCase name }};
