import React from 'react';
import './{{ properCase name }}Styles.less';

const {{ properCase name }} = () => (
  <div className="{{ properCase name }}">
    {{ properCase name }} Component
  </div>
);

export default {{ properCase name }};
